In [ ]:
!pip install pandas

In [1]:

import pandas as pd
import numpy as np

In [24]:
df = pd.read_csv("income.csv")
print(df)

df.columns = [ i.strip() for i in df.columns ]
print(df.columns)
print(df.index)

  person name   credit score   income   age  loan approved?       log
0         rob            750    80000    32               y  4.903090
1         tom            310    32000    45               N  4.505150
2          Xi            475    77000    33               Y  4.886491
3       Mohan            600    65000    51               N  4.812913
4       Pooja            820   550000    35               Y  5.740363
5      Sofiya            780    75000    31               Y  4.875061
Index(['person name', 'credit score', 'income', 'age', 'loan approved?',
       'log'],
      dtype='object')
RangeIndex(start=0, stop=6, step=1)

In [25]:
#df = pd.read_csv("income.csv", skiprows=[0], names=["name,"income","a","b","rating"])
#print(df)
print(df.income.describe())

count         6.000000
mean     146500.000000
std      198458.811848
min       32000.000000
25%       67500.000000
50%       76000.000000
75%       79250.000000
max      550000.000000
Name: income, dtype: float64

In [3]:
print(df.income.quantile())

76000.0

In [4]:
print(df.income.quantile(0.50))
print(df.income.quantile(0.25))
print(df.income.quantile(0))
print(df.income.quantile(0.75))
print(df.income.quantile(1))

76000.0
67500.0
32000.0
79250.0
550000.0

In [7]:
print(df.income.quantile(0.50, interpolation="higher"))
print(df.income.quantile(0.25, interpolation="higher"))
print(df.income.quantile(0, interpolation="higher"))
print(df.income.quantile(0.75, interpolation="higher"))
print(df.income.quantile(1, interpolation="higher"))

77000
75000
32000
80000
550000

In [9]:
outlier = df.income.quantile(0.99)
df_nooutlier = df[df.income<=outlier]
print(df_nooutlier)

        name  income   a   b    rating
rob      750   80000  32   y  4.903090
tom      310   32000  45   N  4.505150
Xi       475   77000  33   Y  4.886491
Mohan    600   65000  51   N  4.812913
Sofiya   780   75000  31   Y  4.875061

In [15]:
# fill nan 
df['income']['Sofiya'] = np.nan
print(df)
df.fillna(df.income.mean())
print(df)

        name    income   a   b    rating
rob      750   80000.0  32   y  4.903090
tom      310   32000.0  45   N  4.505150
Xi       475   77000.0  33   Y  4.886491
Mohan    600   65000.0  51   N  4.812913
Pooja    820  550000.0  35   Y  5.740363
Sofiya   780       NaN  31   Y  4.875061
        name    income   a   b    rating
rob      750   80000.0  32   y  4.903090
tom      310   32000.0  45   N  4.505150
Xi       475   77000.0  33   Y  4.886491
Mohan    600   65000.0  51   N  4.812913
Pooja    820  550000.0  35   Y  5.740363
Sofiya   780       NaN  31   Y  4.875061

In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("AB_NYC_2019.csv")
print(df)

             id                                               name   host_id  \
0          2539                 Clean & quiet apt home by the park      2787
1          2595                              Skylit Midtown Castle      2845
2          3647                THE VILLAGE OF HARLEM....NEW YORK !      4632
3          3831                    Cozy Entire Floor of Brownstone      4869
4          5022   Entire Apt: Spacious Studio/Loft by central park      7192
...         ...                                                ...       ...
48890  36484665    Charming one bedroom - newly renovated rowhouse   8232441
48891  36485057      Affordable room in Bushwick/East Williamsburg   6570630
48892  36485431            Sunny Studio at Historical Neighborhood  23492952
48893  36485609               43rd St. Time Square-cozy single bed  30985759
48894  36487245  Trendy duplex in the very heart of Hell's Kitchen  68119814

           host_name neighbourhood_group       neighbourhood  latitude  \
0               John            Brooklyn          Kensington  40.64749
1           Jennifer           Manhattan             Midtown  40.75362
2          Elisabeth           Manhattan              Harlem  40.80902
3        LisaRoxanne            Brooklyn        Clinton Hill  40.68514
4              Laura           Manhattan         East Harlem  40.79851
...              ...                 ...                 ...       ...
48890        Sabrina            Brooklyn  Bedford-Stuyvesant  40.67853
48891        Marisol            Brooklyn            Bushwick  40.70184
48892  Ilgar & Aysel           Manhattan              Harlem  40.81475
48893            Taz           Manhattan      Hell's Kitchen  40.75751
48894     Christophe           Manhattan      Hell's Kitchen  40.76404

       longitude        room_type  price  minimum_nights  number_of_reviews  \
0      -73.97237     Private room    149               1                  9
1      -73.98377  Entire home/apt    225               1                 45
2      -73.94190     Private room    150               3                  0
3      -73.95976  Entire home/apt     89               1                270
4      -73.94399  Entire home/apt     80              10                  9
...          ...              ...    ...             ...                ...
48890  -73.94995     Private room     70               2                  0
48891  -73.93317     Private room     40               4                  0
48892  -73.94867  Entire home/apt    115              10                  0
48893  -73.99112      Shared room     55               1                  0
48894  -73.98933     Private room     90               7                  0

      last_review  reviews_per_month  calculated_host_listings_count  \
0      2018-10-19               0.21                               6
1      2019-05-21               0.38                               2
2             NaN                NaN                               1
3      2019-07-05               4.64                               1
4      2018-11-19               0.10                               1
...           ...                ...                             ...
48890         NaN                NaN                               2
48891         NaN                NaN                               2
48892         NaN                NaN                               1
48893         NaN                NaN                               6
48894         NaN                NaN                               1

       availability_365
0                   365
1                   355
2                   365
3                   194
4                     0
...                 ...
48890                 9
48891                36
48892                27
48893                 2
48894                23

[48895 rows x 16 columns]

In [5]:
print(df.price.describe())

count    48895.000000
mean       152.720687
std        240.154170
min          0.000000
25%         69.000000
50%        106.000000
75%        175.000000
max      10000.000000
Name: price, dtype: float64

In [6]:
print(df.price.quantile(0))
print(df.price.quantile(0.25))
print(df.price.quantile(0.50))
print(df.price.quantile(0.75))
print(df.price.quantile(1))
print(df.price.quantile(0.90))

0.0
69.0
106.0
175.0
10000.0
269.0

In [7]:
print(df.price.quantile(0, interpolation="higher"))
print(df.price.quantile(0.25, interpolation="higher"))
print(df.price.quantile(0.50, interpolation="higher"))
print(df.price.quantile(0.75, interpolation="higher"))
print(df.price.quantile(1, interpolation="higher"))
print(df.price.quantile(0.90, interpolation="higher"))

0
69
106
175
10000
269

In [8]:
print(df[df.price == np.nan])

Empty DataFrame
Columns: [id, name, host_id, host_name, neighbourhood_group, neighbourhood, latitude, longitude, room_type, price, minimum_nights, number_of_reviews, last_review, reviews_per_month, calculated_host_listings_count, availability_365]
Index: []

In [15]:
outlier1 = df.price.quantile(0.99)
outlier2 = df.price.quantile(0.01)
df_no = df[df.price>outlier2]
df_no = df[df.price <outlier1]
print(df_no)

             id                                               name   host_id  \
0          2539                 Clean & quiet apt home by the park      2787
1          2595                              Skylit Midtown Castle      2845
2          3647                THE VILLAGE OF HARLEM....NEW YORK !      4632
3          3831                    Cozy Entire Floor of Brownstone      4869
4          5022   Entire Apt: Spacious Studio/Loft by central park      7192
...         ...                                                ...       ...
48890  36484665    Charming one bedroom - newly renovated rowhouse   8232441
48891  36485057      Affordable room in Bushwick/East Williamsburg   6570630
48892  36485431            Sunny Studio at Historical Neighborhood  23492952
48893  36485609               43rd St. Time Square-cozy single bed  30985759
48894  36487245  Trendy duplex in the very heart of Hell's Kitchen  68119814

           host_name neighbourhood_group       neighbourhood  latitude  \
0               John            Brooklyn          Kensington  40.64749
1           Jennifer           Manhattan             Midtown  40.75362
2          Elisabeth           Manhattan              Harlem  40.80902
3        LisaRoxanne            Brooklyn        Clinton Hill  40.68514
4              Laura           Manhattan         East Harlem  40.79851
...              ...                 ...                 ...       ...
48890        Sabrina            Brooklyn  Bedford-Stuyvesant  40.67853
48891        Marisol            Brooklyn            Bushwick  40.70184
48892  Ilgar & Aysel           Manhattan              Harlem  40.81475
48893            Taz           Manhattan      Hell's Kitchen  40.75751
48894     Christophe           Manhattan      Hell's Kitchen  40.76404

       longitude        room_type  price  minimum_nights  number_of_reviews  \
0      -73.97237     Private room    149               1                  9
1      -73.98377  Entire home/apt    225               1                 45
2      -73.94190     Private room    150               3                  0
3      -73.95976  Entire home/apt     89               1                270
4      -73.94399  Entire home/apt     80              10                  9
...          ...              ...    ...             ...                ...
48890  -73.94995     Private room     70               2                  0
48891  -73.93317     Private room     40               4                  0
48892  -73.94867  Entire home/apt    115              10                  0
48893  -73.99112      Shared room     55               1                  0
48894  -73.98933     Private room     90               7                  0

      last_review  reviews_per_month  calculated_host_listings_count  \
0      2018-10-19               0.21                               6
1      2019-05-21               0.38                               2
2             NaN                NaN                               1
3      2019-07-05               4.64                               1
4      2018-11-19               0.10                               1
...           ...                ...                             ...
48890         NaN                NaN                               2
48891         NaN                NaN                               2
48892         NaN                NaN                               1
48893         NaN                NaN                               6
48894         NaN                NaN                               1

       availability_365
0                   365
1                   355
2                   365
3                   194
4                     0
...                 ...
48890                 9
48891                36
48892                27
48893                 2
48894                23

[48403 rows x 16 columns]