In [6]:
import pandas as pd
df1 = pd.DataFrame({"Name":["Mohan","Andrea","Sofia","Joe","Virat","Abdul"],
                   "Score" : [75,72,68,65,67,73]})
print(df1)
mean  = df1["Score"].mean()
print(mean)

     Name  Score
0   Mohan     75
1  Andrea     72
2   Sofia     68
3     Joe     65
4   Virat     67
5   Abdul     73
70.0

In [11]:
# Mean Absolute deviation : MAD
df1["Abs"] = abs(df1["Score"] - mean)
print(df1)
MAD = (sum(df1["Abs"])/len(df1))
print(MAD)
# data points are closer to mean point

     Name  Score  Abs
0   Mohan     75  5.0
1  Andrea     72  2.0
2   Sofia     68  2.0
3     Joe     65  5.0
4   Virat     67  3.0
5   Abdul     73  3.0
3.3333333333333335

In [15]:
import pandas as pd
df1 = pd.DataFrame({"Name":["Mohan","Andrea","Sofia","Joe","Virat","Abdul"],
                   "Score" : [80,70,70,63,70,70]})
print(df1)
mean  = df1["Score"].mean()
print(mean)

     Name  Score
0   Mohan     80
1  Andrea     70
2   Sofia     70
3     Joe     63
4   Virat     70
5   Abdul     70
70.5

In [16]:
# Mean Absolute deviation : MAD
df1["Abs"] = abs(df1["Score"] - mean)
print(df1)
MAD = (sum(df1["Abs"])/len(df1))
print(MAD)
# data points are far to mean point

     Name  Score  Abs
0   Mohan     80  9.5
1  Andrea     70  0.5
2   Sofia     70  0.5
3     Joe     63  7.5
4   Virat     70  0.5
5   Abdul     70  0.5
3.1666666666666665

In [19]:
# Standard Deviation 

import pandas as pd
import numpy as np
df1 = pd.DataFrame({"Name":["Mohan","Andrea","Sofia","Joe","Virat","Abdul"],
                   "Score" : [75,72,68,65,67,73]})
print(df1)
mean  = df1["Score"].mean()
df1["Abs"] = df1['Score'] - mean
# print(mean)
df1["Abs^2"] = df1["Abs"]**2
mean = df1["Abs^2"].mean()
sqmean = np.sqrt(mean)
print(mean, sqmean )

     Name  Score
0   Mohan     75
1  Andrea     72
2   Sofia     68
3     Joe     65
4   Virat     67
5   Abdul     73
12.666666666666666 3.559026084010437

In [21]:
import pandas as pd
df1 = pd.DataFrame({"Name":["Mohan","Andrea","Sofia","Joe","Virat","Abdul"],
                   "Score" : [83,70,70,63,70,70]})
print(df1)
mean  = df1["Score"].mean()
mean  = df1["Score"].mean()
df1["Abs"] = df1['Score'] - mean
# print(mean)
df1["Abs^2"] = df1["Abs"]**2
mean = df1["Abs^2"].mean()
sqmean = np.sqrt(mean)
print(mean, sqmean )

     Name  Score
0   Mohan     83
1  Andrea     70
2   Sofia     70
3     Joe     63
4   Virat     70
5   Abdul     70
35.333333333333336 5.94418483337567